---
title: About
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>about</h2>
</div>



    <div class="post-content visible">
    
		<h2 class="post-subtitle">关于我</h2>
		

		<article class="markdown-body">
			<p>nickname: eregerm (maybe e_re_germ, EReGerm or EReG3rm)</p>
			<p>email (qq): 974002413@qq.com</p>
			<p>location: njupt</p>
		</article>

		
		<div class="social-share-wrapper">
			<div class="social-share"></div>
		</div>
    
	</div>

    
{% include footer.html %}
