---
title: Links
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>links</h2>
</div>



    <div class="post-content visible">
    
		<h2 class="post-subtitle">friends</h2>
		

		<article class="markdown-body">
			<p><a href="http://www.cfzhao.com/">赵玉炜的博客</a></p>
			<p><a href="https://www.kimiye.xyz/">Kehuaiiiiii’s blog</a></p>
		</article>

		
		<div class="social-share-wrapper">
			<div class="social-share"></div>
		</div>
    
	</div>

    
{% include footer.html %}
